* {margin: 0; padding: 0; border: 0;}

body{font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; color: #333;
	background-image: url(im/pw_maze_black.png);}
h1 { font-size: 3em;}
h3 {font-size: 1.5em;}
p {padding: 5px 0;}

.container {width: 900px; background-color: #fff; }
.container-top {padding: 20px; margin: 20px auto;}
.container-bottom {padding: 20px; margin: 20px auto;}

.round-border {border-radius: 10px;}

.right {float: right;width: 560px; clear: both;}
.left {margin-right: 560px; }
ul {list-style: none inside;}
.nav-links {padding-top: 5px; clear: both;}
.nav-links-list {display: inline; font-style: italic;}
