* {margin: 0; padding: 0; border: 0;}

body{font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; color: #333;
	background-image: url(im/grey_wash_wall.png);}
h1 { font-size: 3em;}
h3 {font-size: 1.5em;}
p {padding: 5px 0;}
a:link {text-decoration: underline; color: #333; font-size: 100%;}
a:visited {text-decoration: underline; color:#333; font-size: 100%; }
a:hover {text-decoration: underline; color:#333; font-size: 100%;}
a:active {text-decoration: underline; color:#333; font-size: 100%;}


.container {width: 930px; background-color: #fff; padding: 20px; 
	margin: 20px auto; border: 1px solid #333; box-shadow: 5px 5px #333}
.container-3-column {}

.container {width: 990px; background-color: #fff; padding: 10px; 
 border: 1px solid #333; box-shadow: 5px 5px #333; 
 position: relative; margin: 20 auto;}


 
.round-border {border-radius: 10px;}


.right {position: absolute; left: 650px; border: 1px red solid; width: 300px; padding: 5px;}

.center {position: absolute;  left: 330px; border: 1px green solid; width: 300px; padding: 5px;}

.left {width: 300px; padding: 5px; border: 1px yellow solid;}

ul {list-style: none inside;}
.nav-links {padding-top: 5px; clear: both;}
.nav-links-list {display: inline; font-style: italic;}
.headline {font-weight: bold;}

button {border-radius: 10px; box-shadow: 5px 5px #333;  }
.alert-list {margin: 10px 5px;}
.buttons {display: inline; margin: 5px;}
.large-button {height: 40px; width: auto; padding: 5px 10px; font-size: 1em; font-weight: bold;}
.small-button {height: 25px; width: auto; padding: 5px; font-size: .75em; font-weight: bold;}


.warning {background-color: red; }
.neutral {background-color: yellow;}
.excellent {background-color: green;}




.crop {border: 1px solid #333;}

.tooltips {;
}

.tooltips:before,
.tooltips:after {
  content: "";
  display: table;
}

.tooltops:after {
  clear: both;
}

.tooltip {margin: 5px;
	border-bottom: 1px dotted #000000;
  color: #000000; 
  text-decoration: none;
  position: relative;
	width: 152px;
	}
 
 .tooltip:hover span {
  position: absolute;
  left: 175px;
  top: -100px;
  z-index: 99;
  margin-left: 0; 
  padding: 10px; 
  background: #333;
  color: #fff;
}
.popup {
  margin-left: -9999px;
  position: absolute;
}

 .caption {margin: 5px 0 0 5px;}
